:root {
  --primary-color: #71ced0;
  --bg-primary-gradient: linear-gradient(to right, #ce9c81, #e3c5b5, #ce9c81);
  --bg-color1: #01001f;
}

.btn-gradient-hover:hover {
  background: var(--bg-primary-gradient);
  color: black; /* Or white if preferred */
}

/* For modern browsers */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #4fc3f7; /* Light blue thumb color like your screenshot */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #29b6f6; /* Darker blue on hover */
}

/* Optional: for horizontal scrollbars */
::-webkit-scrollbar-horizontal {
  height: 4px;
}
@media only screen and (max-width: 768px) {
  #zsiq_float {
    bottom: 80px !important; /* You can adjust this value */
  }
}
